extends layout

block content
  h1.title	Infusion Collaboration 
  div.join-room
    form
      .user-details
        h3 User Details
        input(type='text', id='username', name='username', placeholder='Your Name', required)
        input(type='email', id='email', name='email', placeholder='Your Email', required)
      .room-details
        h3 Room 
        input(type='text', id='room', name='room', placeholder='Room Name', required)
      input(type='submit', id='submit', name='submit')
