doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      header
        h1 Infusion Collaborate
      block content
    script(src='/js/vendor/Infusion.min.js')
    script.
      var FC = FC || {};
    script(src='/js/app.js')
    script.
      FC.init();
