doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      header
        h1 Infusion Collaborate
        section.top-panel
          select(name='layout')
            option(value='0,1,0') Video
            option(value='0.5,0.5,0') Chat & Video
            option(value='0.5,0,0.5') Chat & Notes
            option(value='0.33,0.34,0.33') All
          span Room Foo
          a(class='settings', href='#settings') Settings
      block content
    script(src='/js/vendor/Infusion.min.js')
    script(src='/js/vendor/jquery.ui.resizable.js')
    script('src=js/vendor/screenfull.js')
    script('src=js/vendor/simplewebrtc.js')
    script('src=https://rawgithub.com/iakshay/fluid-WebRTC/renderer/js/webRTC.js')
    script.
      var FC = FC || {};
    script(src='/js/app.js')
    script.
        FC.init();