doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/WebRTC.css')

  body
    .container
      block content
    script(src='/js/vendor/InfusionAll.js')
    script(src='/js/vendor/jquery.ui.resizable.js')
    script(src='js/vendor/screenfull.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/vendor/simplewebrtc.js')
    script(src='js/fluid-webrtc/webRTC.js')
    script.
      /* Fluid Collaboration */
      var FC = FC || {};
    script(src='/js/app.js')
    block script
