extends layout

block content
  header.selectable
    h1 Fluid Collaborate /
      span #{room}
    section.top-panel
      select(name='layout')
        option(value='0.25,0.5,0.25') All
        option(value='0,1,0') Video
        option(value='0.5,0.5,0') Chat & Video
        option(value='0.5,0,0.5') Chat & Notes
      a(class='settings', href='#settings') Settings
  section(class='settings-panel')
  section(class='module module-chat resizable selectable')
    .title-bar
      h3 Chat
    ul.list-view
        li Hello, Welcome!
    .chat-form
        form#chat_form
          input(autocomplete='off',type='text', id='chat_msg', name='chat_msg', placeholder='...')
  section(class='module module-video resizable selectable')
    .title-bar
      h3 Video Conferencing
    .module-inner
        section(class='video-focus')
          .flc-webrtc-room
            form
              input(type='text', class='flc-webrtc-room-name', placeholder='Enter Room Name')
              input(type='submit', class='flc-webrtc-room-submit', placeholder='Join')
          .focus-container
        section(class='video-tiles flc-webrtc-tiles-container') 
        //-   .title-bar
            h3 Collaborators
  section(class='module module-notes resizable selectable')  
    .title-bar
      h3 Notes
    .module-inner
        p.
          Content here
block script
    script.
        FC.room = '#{room}';
        FC.env = '#{env}';
        FC.init();