*{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
}
body{
	font: 16px 'Helvetica', Arial;
	color:#fff;
	overflow:hidden;
}

a{
	text-decoration: none;
}
header{
	background:#222;
	height:60px;
	line-height:60px;
	padding-left:20px;
}

header h1{
	font-weight:300;
}
.container{
	height: 100%;
	position:relative;
	bottom:0;
	left:0;
	right:0;
	top:0;
	background:#eee;
}

.module{
	outline:0 !important;
	background: #fff;
	margin:5px;
	border:1px solid #CCC;
	float:left;
}

.module .title-bar{
	background:rgb(0, 118, 176);
	padding:5px 10px;
	height:25px;
}
.module-selected .title-bar{
	background:rgb(225, 148, 5);
}

.title-bar h3{
	display:inline;
	font-weight:300;
	line-height:25px;
}

.title-bar .toggle-collapse{
	color:#fff;
	font-size:40px;
	line-height:18px;
	float:right;
}



/*.dropMarker {
    background-color: #00a651;
    height: 3px;
    padding: 0 0 0 0;
    margin-left: 1em;
    margin-right: 1em;
}

.avatar{
	opacity:0.5;
}*/

.module-container{
	position: absolute;
	top:60px;
	bottom:0;
	left:0;
	right:0;
}
.module-chat{
	width:25%;
	height:100%;
}
.module-video{
	width:50%;
}

.module-notes{
	width:25%;
}