*{
	margin:0;
	padding:0;
}

body{
	font: 16px 'Helvetica', Arial;
	color:#fff;
}

a{
	text-decoration: none;
}
header{
	background:#222;
	height:60px;
	line-height:60px;
	padding-left:20px;
}

header h1{
	font-weight:300;
}
.container{
	position:absolute;
	top:60px;
	background:#eee;
	right:0;
	bottom:0;
	left:0;
}

.column{
	width:20%;
	float:left;
}
.module{
	width:100%;
	max-width:300px;
	outline:0 !important;
}

.module .title-bar{
	margin:5px 5px 0 5px;
	background:rgb(0, 118, 176);
	cursor: move;
	padding:5px 10px;
	height:25px;
}
.module-selected .title-bar{
	background:rgb(225, 148, 5);
}

.title-bar h3{
	display:inline;
	font-weight:300;
	line-height:25px;
}

.title-bar .toggle-collapse{
	color:#fff;
	font-size:40px;
	line-height:18px;
	float:right;
}

.module-inner{
	margin:0 5px 5px 5px;
	border:1px solid #CCC;
	background:#fff;
	min-height:240px;
}

.dropMarker {
    background-color: #00a651;
    height: 3px;
    padding: 0 0 0 0;
    margin-left: 1em;
    margin-right: 1em;
}

.avatar{
	opacity:0.5;
}